absl-py
apex
attrs
cachetools
certifi
charset-normalizer
cloudpickle
contourpy
cycler
deepspeed
efficientnet-pytorch
einops
filelock
fonttools
gdown
google-auth
google-auth-oauthlib
grpcio
h5py
hjson
huggingface-hub
idna
importlib-metadata
info-nce-pytorch
joblib
jsonlines
jsonpatch
jsonpointer
kiwisolver
Markdown
matplotlib
munch
ninja
numpy
oauthlib
OmniEvent
opencv-python
packaging
pandas
Pillow
pretrainedmodels
protobuf
psutil
py-cpuinfo
pyasn1
pyasn1-modules
pydantic
pyparsing
python-dateutil
pytz
PyYAML
pyzmq
regex
requests
requests-oauthlib
rsa
#scikit-learn
scipy
seaborn
sentencepiece
seqeval
six
submitit
tensorboard
tensorboard-data-server
tensorboard-logger
tensorboard-plugin-wit
tensorboardX
termcolor
thop
threadpoolctl
timm
tokenizers
torch
torchaudio
#torchfile
#torchlars
torchvision
tornado
tqdm
transformers
typing_extensions
urllib3
visdom
websocket-client
Werkzeug
yacs
zipp
